@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,300;8..144,400;8..144,500;8..144,700&display=swap');

body {
    font-family: 'Roboto Flex';
}

body nav, .marcellus {
    font-family: 'Marcellus', serif;
}

.rad-2{
    border-radius:2em;
}

.btn {
    border-radius: 2em;
}

#front-image{
    max-height: 4em;
    object-fit: cover;
    z-index: 1;
}

.main-col-btn.col-md-4 {
    max-height: 25em;
    overflow: hidden;
}

.main-col-btn img{
    object-fit: fill;
    /* align image vertically to the center */
    vertical-align: middle;
    object-position: center;
    /* make image responsive */
    width: 100%;
    height: auto;
}
.imgcontainer{
    position: relative;
    text-align: center;
    color: white;
}

.imgcontainer .centered{
    position: absolute;
    font-size: 1.5em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0.4em 2em;
    color:black;
    background-color: white;
    opacity: 1;
    border: 0.2em solid black;
    text-transform: uppercase;
    font-weight: bolder;
    cursor: pointer;
}

.imgcontainer .centered:hover{
    color: white;
    background-color: black;
    animation: pulse 1s infinite;
    transition: 0.5s;
}

.imgcontainer .centered:active{
    color: white;
    background-color: black;
    font-size: 1.6em;
    transition: 0.1s;
}

.main-col-btn:hover img{
    filter: opacity(80%);
    transition: 0.5s;
}



    .parallax{
    /* The image used */
    background-image: url("https://images.pexels.com/photos/10410092/pexels-photo-10410092.jpeg");
    /* Set a specific height */
    min-height: max-content;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-text{
    color: white;
    /* use right half of the screen on desktop */
    width: 50%;
    margin-right: 0 !important;
    padding: 10em 2em;
    margin: 10em 0 10em 0;
    background-color: black;
    opacity: 0.9;
    
}
@media only screen and (max-width: 800px) {
    .parallax-text{
        width: 100%;
    }
}
.pointer, .cursor-pointer{
    cursor: pointer;
}

.round{
    border-radius: 2em;
}

.step-number{
    background-color: rgb(15, 15, 15);
    color: white;
    
    align-items: center;
    vertical-align: center;
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    
    /** rounded number */
    border-radius: 50%;
    min-width: 4rem;
    min-height: 4rem;
    position: relative;
    font-size: 2em;
}

#exterior img{
    object-fit: fill;
    overflow: hidden;
    height: auto;
}

.bg-beige{
    background-color: beige;
}

.bg-beiger{
    background-color: rgb(189, 189, 170);
}
.titulo-categoria{
    font-family: 'Roboto Flex';
    font-weight: bolder;
    opacity: 0.9;
}

.titulo-categoria::after{
    height: 1px;
    width: 10em;
    
}

.old-price{
    font-size:0.9em;
    opacity: 70%;
    text-decoration: line-through;
}

.new-price{
    font-size: 1.2em;
    font-weight: bolder;
}

.prices-row{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.table-row-separator{
    border-bottom: 1px solid rgb(189, 189, 170);
}