@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');


body nav, .marcellus {
    font-family: 'Marcellus', serif;
}

.rad-2{
    border-radius:2em;
}

.btn {
    border-radius: 2em;
}

#front-image{
    max-height: 4em;
    object-fit: cover;
    z-index: 1;
}

.main-col-btn.col-md-4 {
    max-height: 25em;
    overflow: hidden;
}

.main-col-btn img{
    object-fit: fill;
    /* align image vertically to the center */
    vertical-align: middle;
    object-position: center;
    /* make image responsive */
    width: 100%;
    height: auto;
}
.imgcontainer{
    position: relative;
    text-align: center;
    color: white;
}

.imgcontainer .centered{
    position: absolute;
    font-size: 1.5em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0.4em 2em;
    color:black;
    background-color: white;
    opacity: 1;
    border: 0.2em solid black;
    text-transform: uppercase;
    font-weight: bolder;
    cursor: pointer;
}

.main-col-btn:hover img{
    filter: opacity(80%);
    transition: 0.5s;
}